@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin-left: 0;
  font-family: Poppins;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-left: 2%;
  margin-right: 2%;
}

.block-quote {
  margin-left: 5%;
  margin-right: 5%;
  color: darkslategrey;
  font-style: italic;
}

.main-title{
  text-align: center;
  font-size: xx-large;
  font-family: Poppins;
  font-weight: 700;
  color: #7A41EA;
  padding: 2%;
}

.header{
  font-size: x-large;
  font-family: Poppins;
  font-weight: 600;
  color: #7A41EA;
  margin-left: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sketches{
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: center;
  padding-bottom: 2%;
}
.sketches img{
  width: 30%;
}

.figma {
  display: flex;
  justify-content: center;
}

footer{
  padding: 30px;
}